.align-body-programminghistory{
    padding: 12rem 3rem;
}

.align-body-programminghistory p{
    color: #fff;
}

.projetinhofellas2{
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.projetinhofellas2 h2 {
    color: rgb(255, 0, 0);

}