.align-body-projecthistory{
    padding: 12rem 3rem;
}

.align-body-projecthistory p{
    color: #fff;
}

.projetinhofellas{
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.projetinhofellas h2 {
    color: rgb(255, 0, 0);

}