.evolution {
    height: 70vh;
    padding: 3rem;
}

.evolution h2 {
    color: #5ee405;
    margin-bottom: 1rem;
}

.evolution h4 {
    margin-bottom: 2rem;
    color: #fff;
}

.evolution P {
  color:#fff;
}