footer{
    height:5vh ;
    padding:30px ;
    text-align:center;
    color:rgb(0, 247, 255);
    background-color: rgb(61, 61, 61);

}
footer a{
    color:rgb(0, 247, 255);
    text-decoration: none;
    padding-left: 3px;
    padding-right: 3px;
}

.redes-sociais a{
    color: rgb(255, 1, 98);
}