footer {
    height: 5vh;
    padding: 20px;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.261);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(3px);

}

footer a {
    color: rgb(0, 220, 228);
    text-decoration: none;
    padding-left: 4px;
    padding-right: 4px;
}

.redes-sociais a {
    color: rgb(255, 255, 255);
}