nav {
    display: flex;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    position: fixed;
    width: 96%;
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 3px );
    background: rgba(0, 0, 0, 0.63);
}

nav a {
    color: #fff;
    text-decoration: none;
    padding:10px;
}