@import "./Nav.css";
@import "./Hero.css";
@import "./About.css";
@import "./Evolution.css";


@import url('https://fonts.googleapis.com/css2?family=Manrope&family=Rubik+Iso&display=swap');

* {
    font-family: 'Manrope', sans-serif;
    margin: 0%;
}

body {
    background-color: #1e1e1e;
}